/*------------Base------------------------*/
body {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background: #ffffff;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1158px;
  padding: 0 15;
  margin: 0 auto;
}
.wrap-image {
  display: block;
}
/* ----------------------Header------------- */
.logo-dark {
  font-weight: 700;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo-web {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  display: inline-block;
  margin-right: 76px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.nav-link:hover {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  font-family: inherit;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-link:hover {
  color: #404bbf;
}
.contact-link:focus {
  color: #404bbf;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.wrap-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.wrap-adress {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.wrap-header {
  display: flex;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.wrap-nav-all {
  display: flex;
  align-items: center;
}
.address {
  display: flex;
  align-items: center;
}
/* ------------Hero section--------------- */
.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  text-align: center;
}
.button {
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;

  font-family: inherit;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}
.button:hover {
  background: #404bbf;
}
.button:focus {
  background: #404bbf;
}

/* --------benefits section------------- */
.benefit-section {
  background: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.benefit-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

  color: #2e2f42;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefit-text {
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}
.wrap-benefits {
  display: flex;
  gap: 24px;
}
.benefit-card {
  width: calc((100%-72px) / 4);
}
/* ------------Team section----------- */
.team-section {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #2e2f42;
  background: #ffffff;
}
.team-list-item {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-text {
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}
.wrap-team-list {
  display: flex;
  gap: 24px;
}
.name-posotion {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.team-name {
  margin-bottom: 8px;
}
/* ---------- Port section--------- */
.port-section {
  background: #ffffff;
}
.port-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.port-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.port-list-card {
  width: calc((100% - 48px) / 3);
}
.port-item {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}
.port-text {
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}
.port-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.port-caption {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* ---------------Footer----------- */
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-light {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #f4f4fd;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.logo-web-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
